.navbar {
  /*justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  background-color: #333;
  color: #fff;*/
  position: relative;
  background-color: #333;
}
.navbar .menu {
  background: transparent;
  color: white;
  border: none;
  display: flex;
  font-size: 24px;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
}
.navbar .navbar-vertical {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #114b5f;
  z-index: 1000;
  width: 100%;
}
.navbar .navbar-horizontal {
  display: flex;
  flex-direction: row;
  display: none;
  position: absolute;
  background: #333;
  width: 100%;
}

.navbar li {
  font-size: 20px;
  padding: 1rem 1rem;
}
.navbar li:hover a {
  color: #aaeaec;
}

.navbar a {
  color: white;
}

@media (min-width: 600px) {
  .navbar .menu {
    display: none;
  }
  .navbar .navbar-horizontal {
    display: flex;
  }
  .navbar .navbar-vertical {
    display: none;
  }
}
